APP_NAME=DROPP API
NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://db_user:db_password@localhost:5432/db_name"

JWT_ACCESS_SECRET=change-moi-avec-un-secret-aleatoire-tres-long

JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

AUTH_PASSWORD_PEPPER="change-moi-avec-un-pepper-aleatoire-tres-long"
AUTH_OTP_PEPPER="change-moi-avec-un-pepper-aleatoire-tres-long"
AUTH_VERIFICATION_SECRET="change-moi-avec-un-pepper-aleatoire-tres-long"
AUTH_VERIFICATION_TTL=15m

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=change_me_local_only
REDIS_OTP_TTL=300
REDIS_OTP_COOLDOWN=60
REDIS_OTP_MAX_TENTATIVES=5
REDIS_OTP_MAX_ENVOIS_HEURE=5
REDIS_IDEMPOTENCE_TTL=86400
